body {
  margin: 0;
}

/* A draggable title bar */
#title-bar {
  height: 30px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
  -webkit-app-region: drag;
}

/* Web view */
webview {
  height: 100vh;
  width: 100vw;
}
